$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1064px
) !default;

$carbon: #1D1D1D;
$carbon-100: #4D4D4D;
$carbon-200: #EBEBEB;

$emerald: #1A8932;
$emerald-100: #2AA845;
$emerald-200: #C2F2CA;

$citrine: #E06014;

$gap: 12px;
$gap-xl: $gap*2;

@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@700&family=Roboto:wght@400;500&display=swap');

$font-text: 'Roboto', sans-serif;
$font-heading: 'Asap Condensed', sans-serif;
