.accordion
    background-color: $carbon-200
    padding: $gap
    margin-bottom: $gap

.accordion-title
    display: flex
    justify-content: space-between
    align-items: center
    cursor: pointer
    svg
        fill: $emerald
        width: 15px
