.btn
    display: inline-block
    padding: $gap $gap-xl
    font-family: $font-text
    border-radius: 4px
    font-weight: bold

.btn-primary
    background-color: $emerald
    color: white

.btn-carbon
    background-color: $carbon
    color: white

.btn-link
    border: 1px solid $carbon
    color: $carbon
    background-color: transparent

.btn-simpler
    color: $carbon
    padding: 0
    border-radius: 0
    border-bottom: 2px solid $carbon
    line-height: 0.7
    position: relative
    &::after
        content: ' '
        position: absolute
        right: -20px
        width: 15px
        height: 15px
        display: inline-block
        top: -2px
        transform: rotate(90deg)
        background: url("/img/arrow.svg") center no-repeat
