.grid
    display: grid
    grid-gap: 40px
    grid-auto-flow: row

.grid-25-25-50
    grid-template-columns: 1fr 1fr 2fr

.grid-75-25
    grid-template-columns: 2fr 1fr

.grid-2
    grid-template-columns: 1fr 1fr

.grid-3
    grid-template-columns: 1fr 1fr 1fr
