.card
    padding: $gap-xl
    background-color: $carbon-200
    border-radius: 4px
    display: flex
    flex-direction: column

.card-lg
    padding: $gap-xl*2

.card-center
    align-items: center
    justify-content: center

.card-shadow
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16)
