.container
    padding: 0
    position: relative

.section
    padding: $gap-xl 0

.section-75
    width: 75%
    margin: 0 auto

.component
    margin: $gap 0

.spacer
    padding: $gap 0

.spacer-sm
    padding: $gap/2 0

.mb
    margin-bottom: $gap*3

.w-full
    width: 100%
