.menu-wrapper
    background-color: $carbon-100
    padding: $gap 0

.menu-top
    display: flex
    justify-content: flex-end
    a
        font-size: 14px
        margin-left: $gap-xl
        display: inline-block

.menu-main
    position: absolute
    left: 0
    display: flex
