.page
    background-repeat: no-repeat
    background-position: bottom left
    padding-bottom: $gap*10
.page-header
    .container
        display: flex
        min-height: 150px
        align-items: end
        h1
            margin-bottom: $gap
