.reporting
    position: relative
    padding-left: 25px
    &::before
        content: ' '
        width: 0
        height: 0
        border-left: 10px solid transparent
        border-right: 10px solid transparent
        border-top: 20px solid $carbon
        position: absolute
        top: 5px
        left: 0
