.table
    width: 100%
    color: white
    box-sizing: border-box
    th
        box-sizing: border-box
        background-color: $emerald
        padding: $gap $gap
    td
        color: $carbon
        padding: $gap $gap

    tbody
        tr:nth-of-type(even)
            background-color: $emerald-200
        tr:nth-of-type(odd)
            background-color: white
    .table-header
        border-bottom: 2px solid white

.table-stripes
    th:nth-of-type(n+2)
        text-align: center
        border-left: 5px solid white
    td:nth-of-type(n+2)
        text-align: center
        border-left: 5px solid white
