.title-campaign
    font-size: 49px
    line-height: 1.15
    margin: 0
    font-family: $font-heading

.title-page
    font-size: 30px
    line-height: 1.15
    letter-spacing: -0.2px
    margin: 0
    font-family: $font-heading

.title-section
    font-size: 26px
    line-height: 1.2
    letter-spacing: -0.2px
    margin: 0
    font-family: $font-text

.title-callout
    font-family: $font-heading
    margin: 0
    font-size: 30px
    line-height: 1.2
    letter-spacing: -0.2px

.title-subheading
    font-size: 22px
    font-weight: bold
    line-height: 1.3
    letter-spacing: -0.2px
    margin: 0
    font-family: $font-text
