.text
    font-family: $font-text
    line-height: 1.4
    letter-spacing: 0.2px
    margin: 0

.text-lg
    font-size: 19px
    font-family: $font-text
    line-height: 1.3
    margin: 0

.text-sm
    font-size: 12px
    font-family: $font-text
    line-height: 1.4
    margin: 0
    letter-spacing: 0.2px

.text-bold
    font-weight: bold

.text-white
    color: white

.text-primary
    color: $emerald

.text-secondary
    color: $citrine

.text-center
    text-align: center

.text-v-center
    display: flex
    align-self: center
